@font-face
{
	font-family: MyArya;
	src: url('AryaRegular.ttf') format("truetype");
}

@font-face
{
    font-family: MyCookie;
    src: url(CookieRegular.ttf) format("truetype");
}

@font-face
{
    font-family: MyRoboto;
    src: url(Roboto-Regular.ttf) format("truetype");
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
    color: black;
    font-family: "Times New Roman";
}


body
{
	background-color: White;
}

#centered
{
	margin: 0px auto; /*wyśrodkowanie elementu*/
	width: 100%;
	height: 2000px;
}
    /* --- Nagłówek strony z podstawowywmi odnośnikami --- */ 
    
    #menu
    {
        width: 100%;
        padding-left: 25%;
        height: 35px; /* wysokość kontenera */
    }
        
        #menu_left1 h1
        {
            text-align: centered;
            float: left;
            height: 35px; /* wysokość kontenera */
            font-family: MyCookie;  
            color: black;
            display: inline;
            font-size: 35px;
            margin-right: 5px;
        }
        #menu_left2 h1
        {
            text-align: centered;
            float: left;
            height: 35px; /* wysokość kontenera */
            font-family: MyCookie;
            color: black;
            display: inline;
            font-size: 35px;
            margin-right: 5px;
        }
        #menu_left3 h1
        {
            text-align: centered;
            float: left;
            height: 35px; /* wysokość kontenera */
            font-family: MyCookie;
            color: #A8A8A8;
            display: inline;
            font-size: 35px;
            margin-right: 70px;
        }
        #menu_center ul li
        {
            text-align:left;
            height: 20px; /* wysokość kontenera */
            float: left;
            display: inline;
            margin-top: 7px;
            margin-left: 45px;
        }
        
         #menu_center a
         {
            color: black;
            font-family: "Arial";
            font-size: 13px;

         }

    #logoBlog
    {
        height: 180px; /* wysokość kontenera */
        
    }
    
        #logoBlogTekst1
        {
    	    margin-top: 50px;
    	    text-align:center;
            height: 200 px; /* wysokość kontenera */
            font-family: "Monotype Corsiva";
            color: black;
            font-size: 26px;
            line-height: 150%;
        }
        #logoBlogTekst2
        {
    	    margin-top: 10px;
    	    text-align:center;
            height: 200 px; /* wysokość kontenera */
            font-family: MyCookie;
            color: black;
            font-size: 18px;
            line-height: 200%;
        }
        
        .logoIdea
        {
            font-family: MyCookie;
            font-size: 32px;
            letter-spacing: 2px;
        }
    
    
    /* --- Przeglądarka tematów --- */ 
    
    #firstSlider
    {
        height: 600px; /* wysokość kontenera */
        position: relative;
        
    }
    
        #imageSlider
        {
            height: 600px;
            position: absolute;
            overflow:hidden;
            margin: auto;
            left:0;
            right:0;
            z-index:1;
            
        }
        
        #HeaddingTopicDiv
        {
            top: 40%;
            height: 150px;
            width: 450px;
            background-color: white;
            position: relative;
            z-index:2;
            margin: 0px auto;
            opacity: 0.4;
        }
        
        .HeaddingTopicText
        {
            visibility: visible;
            font-size: 20px;
            color: #313131;
            line-height: 150%;
            font-family: MyRoboto;
            z-index:3;
            position: absolute;
            top: 15px;
            font-size: 25px;
            color: #313131;
            line-height: 150%;
            font-family: MyRoboto;
            left: 25%;
               
        }
        
        .HeaddingTopicTextHidden
        {
            visibility: hidden;
            z-index:3;
        }
        

        #leftHolder
        {
            height: 600px;
            position: absolute;
            left: 0px;
            top: 0px;
            background: BLUE;
            z-index:2;
            

        }
        
        #rightHolder
        {
            widht: 300px;
            height: 600px;
            position: absolute;
            right: 0px;
            top: 0px;
            background: GREEN;
            z-index:2;
               
        }
        
        .left
        {
        height: 50px;
        widht: 50px;
        position: absolute;
        top: 45%;
        left: 10px;
        
        }
        
        .right
        {
        height: 50px;
        widht: 50px;
        position: absolute;
        top: 45%;
        right: 10px;
        }
        
        .imageSlider
        {
            height: 600px;
            position: absolute;
            overflow:hidden;
            visibility: visible;
            margin: auto;
            left:0;
            right:0;
            z-index:1;
            
        }
        
        .imageSliderHidden
        {
            max-width: 100%;
            position: absolute;
            overflow:hidden;
            visibility: hidden;
            margin: auto;
            left:0;
            right:0;
            z-index:1;
            
        }
  
      /* --- Tekst nowego tematu --- */       
	#textAndInformation
	{
	margin: 0px auto; /*wyśrodkowanie elementu*/
	height: auto;
	width: 1170px;
	}
	
	#textBlog
	{
	float:left;
    margin-right: 20px auto;
	width: 70%;
	height: auto;
	}
	
	    .MainTopicImage
        {
            margin-top: 20px;
            position: relative;  
        }
        
        .TopicImage
        {
            
            height: 450px;
            width: 100%;
            object-fit: cover;
            
        }
        
        .TextBlogTopic
        {
            height: 700px;
            position: relative;
            outline: 1px solid #DDDDDD;
            margin-top: 40px;
        }
        
        .Heading p
        {  
           font-size: 20px;
           color: #313131;
           line-height: 150%;
           font-family: MyRoboto;
           margin-left: 30px;
           
        }
        
        .DateTopic p
        {  
           font-size: 14px;
           color: #888888;
           font-family: MyRoboto;
           margin-left: 30px;
           margin-top: 20px;
        }
        
        .Line
        {
            background-color: #87CEFA;
            width: 100px;
            height: 1px;
            margin-left: 30px;
            margin-top: 15px;
            text-align: left;
            
        }
        
        .Topic p
        {  
           font-size: 16px;
           color: #313131;
           line-height: 150%;
           font-family: MyRoboto;
           margin-left: 30px;
           margin-top: 20px;
        }
        

	
	#information
	{
	
	float:left;
	width: 30%;
	height: auto;
	background: WHITE;
	}
	
		#AutorPhoto
    	{
        	
        	position: relative;
        	top: 20px;
        	height: 200px; /* wysokość kontenera */
        	
    	}
    	
		.AutorPhotoImg
        {
            right: 0px;
            left: 0px;
            height: 175px;
            border-radius: 50%;
            display: block;
    		margin-left: auto;
    		margin-right: auto
        }
        
       	#AboutMeText p
    	{
    	   margin-left: 30px;
    	   margin-top: 10px;
    	   text-align: center;
           height: 200px; /* wysokość kontenera */
           color: black;
           font-size: 16px;
           line-height: 150%;
           font-family: MyRoboto;
    	}
     
     